$ git status
    [...]
    # Untracked files:
    [...]
    #       lib/
   #        handmadehero.exe
   #        handmadehero.lpi
   #        handmadehero.lps
   #        handmadehero.res
   #        C:\Users\shho3\OneDrive\Dokumente\GitHub\Handmadehero_Repository\FPCVersion\handmadehero.ico
   #        C:\Users\shho3\OneDrive\Dokumente\GitHub\Handmadehero_Repository\FPCVersion\DelphiStyleExtended.xml
